<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.instagram.android" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.twitter.android" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Downloader_Video"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".instagram.InstagramStoryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".instagram.InstaStoryVideoShowActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".instagram.InstaStoryImageShowActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".setting.SettingActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".howtodownload.HowToDownloadActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".mydownload.SaveImageShowActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".language.LanguageActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".dpcreator.OpenGallery"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".dpcreator.DpCreatorShowActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".webbrowser.WebBrowserShowActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".webbrowser.WebBrowserActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".dpcreator.DpCreatorActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".hastag.HashtagShowActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".instagram.FrameActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".mydownload.MyDownloadActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".hastag.HashtagActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".facebook.FBLoginActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".facebook.FaceBookActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".instagram.InstagramActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".instagram.other.InstagramLogin"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".whatsapp.MediaWpStatusActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".whatsapp.MediaWpImageViewerActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".whatsapp.MediaWpVIdeoViewerActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".activity.VideoDownloaderActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".facebook.other.FaceBookService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>